<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST PAGE</title>
    {% assets "scss_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
    <div class='head_div'>
        <span id="sentence" class="header">추천한다. 꽃 </span>
        <br>
        <span id="sentence" class="header">골라준다. 꽃 </span>
        <br>
        <span id="sentence" class="header">작성해라. 사연 </span>
    </div>
    <br>
    <div class="typing-container">
        <span id="sentence" class="sentence">나에게 필요한 꽃은?</span>
        <br>
        <span id="feature-text"></span>
        <span class="input-cursor"></span>
      </div>
      <div class='input_div'>
      <form action="/predict" method = "POST">
        <input type="text" name="input" placeholder="문구를 입력해주세요">
        <br>
        <input type="submit" value="결과 보기"/></p>
    </form>
</div>

<script src="{{ url_for('static', filename='js/index_script.js') }}"></script>  
</body>
</html>