<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TEST PAGE</title>
    {% assets "css/select.css" %}

    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <div class="header" id="top">
        <h1>아래로 스크롤</h1>
        <i class="fa fa-angle-down animated bounce"></i>
    </div>
    
    <div class="section animate">
        <form action="/val/{{user_id}}" method="POST" class="middle" style="height: 100%;">
            <button type="submit" class="btm_image" id="img_btn1" name="img_btn" value="first" style="height: 100%; width:100%; display:block;"><img
                    src={{first_flower_img}} style="height: 100%; width:100%; display: block"></button>
        </form>
        <div class="left title">
            <div class="content">
                <h2>first flower: {{first_flower}}</h2>
                <p>{{first_flower_explain}}</p>
            </div>
        </div>
        <div class="right tiles">
            <img src={{first_flower_img}} />
            <img src={{first_flower_img}} />
            <img src={{first_flower_img}} />
            <img src={{first_flower_img}} />
        </div>
    </div>

    <div class="section">
        <form action="/val/{{user_id}}" method="POST" class="middle" style="height: 100%;">
            <button type="submit" class="btm_image" id="img_btn2" name="img_btn" value="second" style="height: 100%; width:100%; display:block;"><img
                    src={{second_flower_img}} style="height: 100%; width:100%; display: block"></button>
        </form>
        <div class="right title">
            <div class="content">
                <h2>second flower: {{second_flower}}</h2>
                <p>{{second_flower_explain}}</p>
            </div>
        </div>

        <div class="left tiles">
            <img src={{second_flower_img}} />
            <img src={{second_flower_img}} />
            <img src={{second_flower_img}} />
            <img src={{second_flower_img}} />
        </div>

    </div>

    <div class="footer">
        <h2>가운데 사진을 눌러 꽃을 선택하세요</h2>
        <a href="#top" class="scrollTo"><i class="fa fa-angle-up animated bounce"></i></a>
        <h1>위로 스크롤</h1>
    </div>
    <script src="{{ url_for('static', filename='js/select_script.js') }}"></script>
</body>

</html>