<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEST PAGE</title>
</head>
<body>
<h1>둘 중 마음에 드는 꽃을 골라주세요!</h1>
    <form action="/val/{{user_id}}" method = "POST" style="display:inline-flex">
        <button type="submit" class="btm_image" id="img_btn1" name="img_btn" value = "first" ><img  src="https://mblogthumb-phinf.pstatic.net/MjAxOTEwMTFfMTc0/MDAxNTcwODA1MzU1OTk0._1xmsXhVHaeByefk8iJq5-wQt75Iuilo1a-K9aiw_uAg.IK3nx1hSa07CeylTaeWW5aS81FLxyfGKbNMku5NRG8Eg.JPEG.sssss747/7B2688E9-C8DC-4431-8539-5D10034A8D65-22206-0000104FF936EB6B_file.jpg?type=w800"></button>

    </form>
    <form action="/val/{{user_id}}" method = "POST" style="display:inline-flex">
        <button type="submit" class="btm_image" id="img_btn2" name="img_btn" value = "second"><img  src="https://blog.kakaocdn.net/dn/SosZx/btqSmAvcykI/C6qWOLx9rL2VlbORZdK5o1/img.jpg"></button>

    </form>

    <p>first flower: {{first_flower}}</p>
    <p>explain: {{second_flower}}</p>
    <p>second flower: {{first_flower_explain}}</p>
    <p>explain: {{second_flower_explain}}</p>

<div>

</div>


</body>
</html>