$black: #2b2b2b;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
$size: 42px;

body {
  flex-direction: column;
  background-color: $black;
  color: white;
  font-size: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Darker Grotesque', sans-serif;

  .typing-container {
      display: flex;
      justify-content: center;
      align-items: center;

    #feature-text {
      margin-left: 8px;
    }
    .input-cursor {
      display: inline-block;
      width: 2px;
      height: $size;
      background-color: white;
      margin-left: 8px;
      animation: blink .6s linear infinite alternate;
    }
  }
  
  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
}